node_modules/
dist/
.venv/
backend/.venv/
backend/build/
backend/*.spec
electron/.cache/
electron/release/
__pycache__/
*.pyc
.env
/logs/
/data/
backend/screenshots/
*.jpg
!benchMarkDesign/**/*.jpg
.vite/
package-lock.json
